[submodule "thirdparty/nativefiledialog-extended"]
	path = thirdparty/nativefiledialog-extended
	url = git@github.com:btzy/nativefiledialog-extended.git
[submodule "thirdparty/tinyobjloader"]
	path = thirdparty/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
